/* Global start*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration:300ms;
}

/* Global end*/

/* Universal tags start*/
* {box-sizing: border-box;}
  body{margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;/* 텍스트에 마우스 올리면 드레그 할수있는 마우스 상태가 되는데, 그것을 막고 기본 마우스 형태로 유지 */}
  a{text-decoration: none;/* a태그에 아래밑줄 none */
    color: var(--color-white);}
  ul{list-style: none;/* ul앞에 점표시 none */
    padding-left: 0;}
  button{background-color: transparent; /* 백그라운드 색상 투명 */
        cursor: pointer;
        border: none;
        outline: none;}
/* Universal tags end*/

/* Typography start */
  h1{font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;}
  h2{font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;}
  h3{font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;}
  p{font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;}
/* Typography end*/

/* navbar start */
    #navbar{position: fixed;
            width: 100%;
            display: flex;
            justify-content: space-between;/* 오른쪽 맨끝, 왠쪽 맨끝으로 떨어지도록 만들어줌 */
            background-color:transparent;
            align-items: center;/* 위 아래 간격을 중간으로 */
            color: var(--color-white);
            padding: 16px;
            transition: all var(--animation-duration) ease-in-out;
            z-index: 1;}
    .navbar_logo{font-size: var(--font-medium);
                 font-weight: var(--weight-semi-bold); 
                margin: 0;}
    .navbar_menu{display: flex; /* ul안에 있는 li들을 위에서 아래 정렬 말고 왼쪽에서 오른쪽 정렬 */
                margin: 0;}
    .navbar_menu_item{padding: 8px 12px;
                      margin: 0 4px;
                      cursor: pointer;
                      border: 1px solid transparent;/* 평소에는 border을 보이지 않게 */
                      border-radius: var(--size-border-radius);}
    .navbar_menu_item:hover{background-color:var(--color-dark-pink);
                            border-color: var(--color-white);}
    .navbar_toggle-btn{position: absolute;
                      right: 32px;
                      top: 21px;
                      font-size: 24px;
                      color: var(--color-white);
                      display: none;}
    #navbar.navbar--dark{background-color:var(--color-pink);}
/* navbar end */

/* home start */
  #home{background:url("images/home-background.png") center/cover no-repeat;
        padding: 40px;
        text-align: center; /* home안에 있는 모든 것들을 가운데 정렬함 */
        padding-top: 120px;}
  .home_avatar{width: 250px;
              height: 250px;
              border-radius: 50%;
              border: 2px solid var(--color-white);}
  .home_tatle, .home_description{color: var(--color-white);}
  .home_contact{font-size: var(--font-regular);
                font-weight: var(--weight-bold);
                margin: 24px;
                padding: 8px 12px;
                border: 2px solid var(--color-white);
                border-radius: var(--size-border-radius);
                color: var(--color-white);}
/* home end */

/* Section common start*/
  .section{text-align: center;
          padding: 50px;
          margin: auto;}
  .section_container{max-width: 1200px;
                    margin: auto;}
/* Section common end*/

/* about start */
  .about_majors{display: flex;
              justify-content: space-between;
              margin: 80px 0;}
  .major_icon{width: 170px;
              height: 170px;
              font-size: 70px;
              line-height: 170px;
              margin: auto;
              color: var(--color-blue);
              border: 1px solid var(--color-blue);
              border-radius: 50%;
              margin-bottom: 16px;}
  .major_icon:hover i{color: var(--color-pink);
                    transform: rotate(-30deg) scale(1.1);}
  .major_icon i{transition: all var(--animation-duration) ease;}
  .major_title, .major_description{color: var(--color-dark-grey);}
  .major_description{font-size: var(--font-small);}
  .study{display: flex;
          align-items: center;
          margin: 10px;
          border-bottom: 1px solid var(--color-light-white);}
  .study_description{margin: 16px 16px;
                    text-align: left;}
  .study_name, .study_period{color: var(--color-light-grey);}
  .study_name{font-size: var(--font-small);}
  .study_period{font-size: var(--font-micro);}
  .study_logo{width: 100px;
              height: 30%;}
/* about end */

/* skills start */
  #skills{background-color: var(--color-yellow);}
  .skillset{display: flex;
            background-color: var(--color-light-grey);
            color: var(--color-light-white);
            margin: 20px 0;}
  .skillset_title{color: var(--color-white);}
  .skillset_left{flex-basis: 60%;
                background-color: var(--color-dark-grey);
                padding: 20px 40px;}
  .skill_description{display: flex;
                    justify-content: space-between;}
  .skillset_right{flex-basis: 40%;}
  .skill{margin-bottom:32px;}
  .skill_bar{width: 100%;
              height: 3px;
              background-color: var(--color-grey);}
  .skill_value{height: 3px;
              background-color: var(--color-orange);}
  .tools{background-color: var(--color-grey);}
  .tools, .etc{padding: 20px;}
/* skills end */

/* work start */
  .category_btn{border: 1px solid var(--color-dark-white);
                border-radius: var(--size-border-radius);
                font-size: var(--font-regular);
                padding: 8px 48px;}
  .work_categories{margin: 40px;}
  .category_btn.selected,
  .category_btn:hover{background-color: var(--color-pink);
                      color:var(--color-white);}
  .catagory_count{background-color:var(--color-orange);
                  border-radius: 50%;
                  color: var(--color-white);
                  width: 24px;
                  height: 24px;
                  line-height: 24px;
                  display: inline-block;/* span태그는 컨텐츠를 꽉 감싸주는 사이즈로 정해지기 때문에. */
                  position: relative;
                  top: -20px;
                  left: 4px;
                  opacity: 0;
                  transition: all var(--animation-duration) ease-in;}
  .category_btn.selected .catagory_count,
  .category_btn:hover .catagory_count{opacity: 1;top: 0;}
  .work_projects{display: flex;
                flex-wrap: wrap;
                justify-content: center;
                opacity: 1;
                transition: all var(--animation-duration) ease-out;}
  .project{width: 280px;
            height: 250px;
            margin: 2px;
            position: relative;
            background-color: var(--color-light-white);
            display: flex;
            justify-content: center;
            align-items: center;}
  .project_img{max-width: 100%;
              max-height: 100%;}
  .project_description{position: absolute;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background-color: black;
                      opacity: 0;
                      transition: all var(--animation-duration) ease-in;
                      transform: translateY(10px);}
  .project_description h3{color:var(--color-orange);}
  .project_description h3:after{content:"";
                                width: 50px;
                                height: 2px;
                                background: var(--color-dark-white);
                                display: block;
                                position: relative;
                                left: 50%;
                                transform: translateX(-50%);
                                margin-top: 8px;}
  .project:hover .project_description{opacity: 0.8;
                                      transform: translateY(0px);}
  .project.invisible{display: none;}
  .work_projects.anim-out{opacity: 0;
                          transform:scale(0.96) translateY(40px);}
/* work end */

/* testmonials start */
  #testmonials{background-color:var(--color-light-white);}
  .testmonials{margin: 40px;}
  .testmonial{display: flex; 
              margin: 32px 0;}
  .testmonial_avatar{width: 150px;
                    height: 150px;
                    border-radius: 50%;}/* 이미지가 정사각형이 아니여서 문제. 나중에 정사각으로 바꾸자*/
  .testmonial_avatar:nth-child(odd){margin-right: 40px;}/*홀수*/
  .testmonial_avatar:nth-child(even){margin-left: 40px;}/*짝수*/
  .testmonial_speech-bubble{padding: 18px;
                            background-color:var(--color-white);
                            border-radius: var(--size-border-radius);}
  .testmonial_speech-bubble p{color: var(--color-light-grey);}
  .testmonial_speech-bubble a{color: var(--color-pink);}
/* testmonials end */

/* contact start */
  #contact{background-color: var(--color-pink);}
  .contact_title, .contact_email, .contact_rights{color: var(--color-white);}
  .contact_title{margin: 32px 0;}
  .contact_links{font-size: var(--font-large);
                margin: 24px 0;}
  .contact_links i:hover{transform: scale(1.1);
                        color: var(--color-dark-pink);}
  .contact_links i{transition: all var(--animation-duration) ease-in;}
/* contact end */


/* Arrow up start*/
  .arrow-up{position: fixed;
            bottom: 50px;
            right: 50px;
            font-size: 50px;
            background-color:var(--color-pink);
            color: var(--color-white);
            border-radius: 50%;
            width: 70px;
            height: 70px;
            opacity: 0; /* display: none;으로 하면 transition과 같은 애니메이션 효과를 
                        줄수 없기 때문에 opacity를 사용한다. opacity를 사용하면 opacity가 
                        0 일때도 포인터가 되고 실제로 클릭도 할수 있기 때문에 
                        pointer-events: none;을 사용해서 포인터도 안되고, 클릭도 할 수 없도록
                        만들어 준다.*/
            transition: all 300ms ease-in;
            pointer-events: none;}
  .arrow-up.visible{opacity: 1;
                    pointer-events:auto;/*pointer-events의 기본값*/}
/* Arrow up end*/
@media screen and (max-width:768px){
  .navbar_toggle-btn{display: block;}
  #navbar{flex-direction: column;/*column일때는 중심축이 수직이라서*/
          align-items: flex-start;/*중심축을 수평으로 바꾸어 준다.*/
          background-color:var(--color-pink);}
  #navbar.navbar--dark{padding: 16px;}
  .navbar_menu{flex-direction: column;
              text-align: center;
              width: 100%;
              display: none;}
  .navbar_menu.open{display: block;}
  .about_majors{flex-direction: column;}  
  .major{margin-bottom: 38px;}   
  .skillset{flex-direction: column;}   
  .projects{flex-grow: 1;/*콘텐츠를 화면 크기에 맞게 메꾸어 주다*/} 
  .testmonial_avatar{width: 80px;
                      height: 80px;}                     
}