@charset "UTF-8";

.left,
.right {position: absolute;top: 0; width: 100px; height: 300px;}
.left{left: 0;background: skyblue;}
.right{right: 0;background: pink;}
.visual{height: 300px;background: yellow;}